Checks: '-*,kokkos-*,modernize-type-traits,modernize-use-using,modernize-use-nullptr,cppcoreguidelines-pro-type-cstyle-cast'
FormatStyle: file
HeaderFilterRegex: '(algorithms|benchmarks|containers|core|example|simd).*\.hpp'
