Damien Lebrun-Grandie <dalg24@gmail.com>
Damien Lebrun-Grandie <dalg24@gmail.com> <dalg24+github@gmail.com>
Damien Lebrun-Grandie <dalg24@gmail.com> <lebrungrandt@ornl.gov>
Damien Lebrun-Grandie <dalg24@gmail.com> <qdi@ornl.gov>
Christoph Junghans <junghans@lanl.gov>
Christoph Junghans <junghans@lanl.gov> <junghans@votca.org>
Dan Ibanez <daibane@sandia.gov>
Dan Ibanez <daibane@sandia.gov> <ibaned@users.noreply.github.com>
Conrad Clevenger <tccleve@sandia.gov>
Conrad Clevenger <tccleve@sandia.gov> <tccleve@kokkos-dev-2.sandia.gov>
