Damien Lebrun-Grandie <dalg24@gmail.com>
Damien Lebrun-Grandie <dalg24@gmail.com> <dalg24+github@gmail.com>
Damien Lebrun-Grandie <dalg24@gmail.com> <lebrungrandt@ornl.gov>
Damien Lebrun-Grandie <dalg24@gmail.com> <qdi@ornl.gov>
Christoph Junghans <junghans@votca.org>
Christoph Junghans <junghans@votca.org> <junghans@lanl.gov>
Christoph Junghans <junghans@votca.org> <christoph.junghans@gmail.com>
Dan Ibanez <daibane@sandia.gov>
Dan Ibanez <daibane@sandia.gov> <ibaned@users.noreply.github.com>
Conrad Clevenger <tccleve@sandia.gov>
Conrad Clevenger <tccleve@sandia.gov> <tccleve@kokkos-dev-2.sandia.gov>
Evan Harvey <eharvey@sandia.gov>
Evan Harvey <eharvey@sandia.gov> <57234914+e10harvey@users.noreply.github.com>
Jakob Bludau <jakob.bludau@tum.de>
Jakob Bludau <bludauj@ornl.gov>
Jakob Bludau <bludauj@ornl.gov> <104908666+JBludau@users.noreply.github.com>
Jeff Miles <jsmiles@sandia.gov>
Jeff Miles <jsmiles@sandia.gov> <jsmiles@kokkos-dev-2.sandia.gov>
Jeff Miles <jsmiles@sandia.gov> <jsmiles@apollo.sandia.gov>
Jonathan R. Madsen <jonathanrmadsen@gmail.com>
Jonathan R. Madsen <jonathanrmadsen@gmail.com> <jrmadsen@users.noreply.github.com>
Daniel Holladay <dholladay00@lanl.gov>
Daniel Holladay <dholladay00@lanl.gov> <dholladay00@.lanl.gov>
