name: github-windows

on:
  workflow_call:

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}-win-x64
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

permissions: read-all

jobs:
  windows-cuda:
    # Cuda build on Windows
    name: Windows Cuda
    runs-on: windows-2022

    steps:
    - uses: Jimver/cuda-toolkit@28e983fc6bf47e7a732934aa029a6738e2ce16e4 # v0.2.18
      id: cuda-toolkit
      with:
        cuda: '12.4.1'
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: configure
      shell: bash
      run: |
        mkdir build
        mkdir c:/project
        cd build
        cmake -DKokkos_ENABLE_CUDA=ON -DKokkos_ARCH_VOLTA70=ON -DKokkos_ENABLE_TESTS=ON -DKokkos_ENABLE_COMPILE_AS_CMAKE_LANGUAGE=ON ..
    - name: build library
      shell: bash
      run: |
        cmake --build build --parallel 2 --config Release
