name: basic-test

on:
  workflow_call:

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}-cibasic
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

permissions: read-all

jobs:
  gcc-smoketest:
    name: gcc-smoketest
    runs-on: [ubuntu-latest]

    steps:
      - name: checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          path: kokkos

      - name: configure kokkos
        run: |
          mkdir -p kokkos/{build,install}
          cd kokkos/build
          cmake \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_INSTALL_PREFIX=$PWD/../install \
            -DCMAKE_CXX_COMPILER=clang++ \
            -DCMAKE_CXX_FLAGS="-Werror" \
            -DKokkos_ENABLE_COMPILER_WARNINGS=OFF \
            -DKokkos_ENABLE_DEPRECATED_CODE_4=ON \
            -DKokkos_ENABLE_EXAMPLES=ON \
            -DKokkos_ENABLE_SERIAL=ON \
            -DKokkos_ENABLE_TESTS=ON \
            ..

      - name: build_and_install_kokkos
        working-directory: kokkos/build
        run: make -j4 install

      - name: test_kokkos
        working-directory: kokkos/build
        run: ctest --timeout 2000 -j2 --output-on-failure
