name: Nightly CEA builds

on:
  schedule:
    - cron: "0 2 * * 1-5" # every weekday at 2am UTC
  workflow_dispatch:

jobs:
  build_and_test:
    env:
      build_jobs: 40

    strategy:
      matrix:
        build_type:
          - Release
          - Debug
        backend:
          - name: cuda-a100
            flags: -DKokkos_ENABLE_CUDA=ON -DKokkos_ARCH_AMPERE80=ON
            gpu: a100
            modules: gcc/11.2.0/gcc-4.8.5 cuda/12.2.1/gcc-11.2.0 cmake/3.28.3/gcc-11.2.0

    runs-on: [self-hosted, cuda]

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: |
          run \
            -m "${{ matrix.backend.modules }}" \
            cmake -B build \
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
              -DCMAKE_CXX_STANDARD=17 \
              -DCMAKE_CXX_FLAGS=-Werror \
              -DKokkos_ENABLE_COMPILER_WARNINGS=ON \
              -DKokkos_ENABLE_TESTS=ON \
              -DKokkos_ENABLE_EXAMPLES=ON \
              ${{ matrix.backend.flags }}

      - name: Build
        run: |
          run \
            -m "${{ matrix.backend.modules }}" \
            cmake --build build --parallel $build_jobs

      - name: Test
        run: |
          run \
            -g ${{ matrix.backend.gpu }} \
            -m "${{ matrix.backend.modules }}" \
            ctest --test-dir build --output-on-failure
